{% extends '_layout.twig' %}

{% block content %}

<h1>Welcome here</h1>

<form method="post" name="loginform" id="loginform">
  <fieldset>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Type it!"/>
    <br/>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Pwd"/>
  </fieldset>

  <button type="submit" name="submit" value="submit">Sign in</button>
</form>

{% endblock %}
