{% extends '_layout.twig' %}

{% block content %}
  <h2>Member zone!</h2>
  <p>So you've successfully passed the login step. Now you might want to
  try the <a href="{{ url('admin'), {'name': 'Togo'} }}">Admin</a> step!</p>
{% endblock %}
